In [2]:
import keras # imports keras and tensorflow as backend
import matplotlib.pyplot as plt # imports matplotlib
import numpy as np
import pandas as pd
%matplotlib inline
import os

from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation

Using TensorFlow backend.

In [3]:
# Data Paths
DATA_DIR = './NF_DATA'

nf_3m_train = os.path.join(DATA_DIR, 'N3M_TRAIN', 'n3m.train.txt')
nf_3m_valid = os.path.join(DATA_DIR, 'N3M_VALID', 'n3m.valid.txt')
nf_3m_test = os.path.join(DATA_DIR, 'N3M_TEST', 'n3m.test.txt')

In [4]:
df_train = pd.read_csv(nf_3m_train, names=['CustomerID','MovieID','Rating'], sep='\t')
print(df_train.shape)
df_train.head()

(13675402, 3)

   CustomerID  MovieID  Rating
0           0     4884     4.0
1           0     5332     4.0
2           0     5633     4.0
3           0     6642     4.0
4           0     6922     4.0

In [133]:
df_train.iloc[:,1][(df_train.iloc[:,0]==0) & (df_train.iloc[:,1]<=1000)]

30    829
42    159
43    904
60     30
61    679
72    859
Name: MovieID, dtype: int64

In [5]:
df_valid = pd.read_csv(nf_3m_valid, names=['CustomerID','MovieID','Rating'], sep='\t')
print(df_valid.shape)
df_valid.head()

(1042131, 3)

   CustomerID  MovieID  Rating
0           0     1012     4.0
1           0     2977     4.0
2           0     4101     4.0
3           0    15858     4.0
4           0    16629     4.0

In [6]:
df_test = pd.read_csv(nf_3m_test, names=['CustomerID','MovieID','Rating'], sep='\t')
print(df_test.shape)
df_test.head()

(1040428, 3)

   CustomerID  MovieID  Rating
0           0     9529     5.0
1           0     3363     4.0
2           0     5837     4.0
3           0     6017     4.0
4           0    10476     4.0

In [126]:
customer_map = df_train.CustomerID.unique()
customer_map.sort()
customer_map = customer_map[0:17550]
#user_map
num_users = len(customer_map)
customer_map[-1]

22203

In [127]:
movie_map = df_train.MovieID.unique()
movie_map.sort()
movie_map = movie_map[0:1000]
#movie_map
num_movies = len(movie_map)
movie_map[-1]

1000

In [10]:
# X = []
# for customer_id in customer_map:
#     select = df_train[(df_train['CustomerID'] == customer_id)][['MovieID', 'Rating']]
#     #print(select.shape)
#     #print(select.head())
#     input_data = []
#     for movie_id in movie_map:
#         if (select['MovieID'] == movie_id).any():
#             input_data.append(select[(select['MovieID'] == movie_id)].iloc[0]['Rating'])
#         else:
#             input_data.append(0.0)
#     #print(input_data)
#     X.append(input_data)
        
# len(X)

In [115]:
import pickle

pickle_out = open('movie_map.pickle','wb')
pickle.dump(movie_map, pickle_out)
pickle_out.close()

pickle_out = open('customer_map.pickle','wb')
pickle.dump(customer_map, pickle_out)
pickle_out.close()

In [135]:
file = open('matrix.csv','w')

def temp(i):
    return np.where(movie_map == i)[0][0]


for id_user in customer_map:
    id_movie = df_train.iloc[:,1][(df_train.iloc[:,0]==id_user) & (df_train.iloc[:,1]<=1000)]
    id_movie = id_movie.apply(temp)
    id_rating=df_train.iloc[:,2][(df_train.iloc[:,0]==id_user) & (df_train.iloc[:,1]<=1000)]
    ratings=np.zeros(num_movies, dtype=np.uint32)
    ratings[id_movie-1]=id_rating
    if sum(ratings)==0:
        continue
    ratings=pd.DataFrame(ratings.reshape(-1, len(ratings)))
    file.write(ratings.to_csv(index=False, header=False))
    del id_movie
    del id_rating
    del ratings


file.close()

In [146]:
X = pd.read_csv('matrix.csv', header=None)
print(X.shape)
X.head()

(13118, 1000)

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [140]:
X.shape[0]

13118

In [ ]:
file = open('matrix_val.csv','w')

def temp(i):
    return np.where(movie_map == i)[0][0]


for id_user in customer_map:
    id_movie = df_train.iloc[:,1][(df_train.iloc[:,0]==id_user) & (df_train.iloc[:,1]<=1000)]
    id_movie = id_movie.apply(temp)
    id_rating=df_train.iloc[:,2][(df_train.iloc[:,0]==id_user) & (df_train.iloc[:,1]<=1000)]
    ratings=np.zeros(num_movies, dtype=np.uint32)
    ratings[id_movie-1]=id_rating
    if sum(ratings)==0:
        continue
    ratings=pd.DataFrame(ratings.reshape(-1, len(ratings)))
    file.write(ratings.to_csv(index=False, header=False))
    del id_movie
    del id_rating
    del ratings


file.close()

In [155]:
import keras.backend as K

def rmse(y_true, y_pred):
    mask_true = K.cast(K.not_equal(y_true, 0), K.floatx())
    masked_squared_error = mask_true * K.square((y_true - y_pred))
    # in case mask_true is 0 everywhere, the error would be nan, therefore divide by at least 1
    # this doesn't change anything as where sum(mask_true)==0, sum(masked_squared_error)==0 as well
    masked_mse = K.sum(masked_squared_error, axis=-1) / K.sum(mask_true, axis=-1)
    return K.sqrt(masked_mse)

In [156]:
#Model

model = Sequential()

model.add(Dense(128, input_dim = X.shape[1], activation='selu'))

model.add(Dense(256, activation='selu'))

model.add(Dropout(0.65))

model.add(Dense(256, activation='selu'))

model.add(Dense(128, activation='selu'))

model.add(Dense(X.shape[1], activation='selu'))

model.compile(loss=rmse, optimizer='sgd')

model.fit(X, X, batch_size=128, epochs=20)

Epoch 1/20
13118/13118 [==============================] - 3s 192us/step - loss: 3.2172
Epoch 2/20
13118/13118 [==============================] - 2s 149us/step - loss: 2.7683
Epoch 3/20
13118/13118 [==============================] - 2s 150us/step - loss: 2.4269
Epoch 4/20
13118/13118 [==============================] - 2s 149us/step - loss: 1.9897
Epoch 5/20
13118/13118 [==============================] - 2s 152us/step - loss: 1.6444
Epoch 6/20
13118/13118 [==============================] - 2s 148us/step - loss: 1.4168
Epoch 7/20
13118/13118 [==============================] - 2s 150us/step - loss: 1.2631
Epoch 8/20
13118/13118 [==============================] - 2s 150us/step - loss: 1.1581
Epoch 9/20
13118/13118 [==============================] - 2s 152us/step - loss: 1.1019
Epoch 10/20
13118/13118 [==============================] - 2s 148us/step - loss: 1.0509
Epoch 11/20
13118/13118 [==============================] - 2s 151us/step - loss: 1.0043
Epoch 12/20
13118/13118 [==============================] - 2s 153us/step - loss: 0.9772
Epoch 13/20
13118/13118 [==============================] - 2s 151us/step - loss: 0.9665
Epoch 14/20
13118/13118 [==============================] - 2s 152us/step - loss: 0.9422
Epoch 15/20
13118/13118 [==============================] - 2s 157us/step - loss: 0.9255 0s - loss: 0.92
Epoch 16/20
13118/13118 [==============================] - 2s 151us/step - loss: 0.9214
Epoch 17/20
13118/13118 [==============================] - 2s 152us/step - loss: 0.9116
Epoch 18/20
13118/13118 [==============================] - 2s 152us/step - loss: 0.8960
Epoch 19/20
13118/13118 [==============================] - 2s 170us/step - loss: 0.8923
Epoch 20/20
13118/13118 [==============================] - 2s 169us/step - loss: 0.8808